:root {
    --width: 100%;
}

body {
    background-color: #FBF8F3;
    color: rgb(5, 3, 28);
    font-family: Arial, Helvetica, Tahoma, sans-serif;
    font-size: large;
    margin: 0;
    text-align: left;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

footer {
    font-size: smaller;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, serif;
    margin: 5px;
    padding: 10px;
    text-align: left;
    font-size: 1.2em;
}

p {
    margin: 20px 7px 20px 7px;
    text-indent: 3em;
}

strong {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
}

ul {
    padding-inline-start: 10px;
}

li {
    margin-left: 1em;
    margin-top: 15px;
}

img {
    max-width: 100%;
}

div.img {
    margin: auto;
    text-align: center;
    width: 90%;
}

div.overflow-x {
    overflow-x: auto;
}

div.obs {
    background-color: #eee;
    border: 1px solid #bbb;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

fieldset {
    width: 90%;
    margin: auto;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
}

.buttom {
    background-color: #aaaaaa60;
    border: 1px groove;
    border-color: #000;
    border-radius: 5px;
    box-shadow: inset 2px 2px #ffffff88;
    color: #000000;
    margin: 10px;
    padding: 7px;
    text-decoration: none;
}

.buttom:hover {
    background-color: #888888ff;
    box-shadow: inset 2px 2px #ffffff88;
    cursor: pointer;
}

.buttom:active {
    background-color: #0000008a;
    box-shadow: inset -2px -2px #ffffff88;
}