@charset "UTF-8";

@font-face 
{
    font-family: 'star';
    src: url('../../fonts/twinkle-star/twinklestar-Regular.ttf'), format ('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    box-sizing: border-box;
}
/*---------------------------------CLASS-------------------------------*/
.mark/*Efeito marca texto*/
{
    background-color: #ffff004d;
}

.video
{
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    padding-bottom: 58%;

}

/*---------------------------------BOXES-------------------------------*/
body 
{ 
    text-align: justify;
    font-family: Arial, Helvetica, Tahoma, sans-serif;
    background-color: #FBF8F3;
    font-size: large;
    color: rgb(5, 3, 28);
    max-width: 1300px;
    margin: auto;
    
 }

 header
 {
     max-width: 1300px;
     padding: 3%;
     background-image: radial-gradient(circle, #7bd768, #bad5dd);
     margin: auto;
     box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.342);
     border-radius: 0px 0px 10px 10px;
 }

header>h1
{
    background-color: rgba(240, 248, 255, 0);
    margin-top: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5em;
    /*zerar fomatação herdada de h1*/
    background-image: none;
    box-shadow: none;
}

main
{
    text-align: justify;
    padding: 20px 10px 20px 10px; 
    max-width: 800px;
    margin: auto;

}


footer
{
    margin-top: 200px;
    background-color: #B4D5D3;
    padding-bottom: 100px;

}

footer>iframe
{
    display: block;
    margin: auto;
    height:500px;
    width: 80%;
    margin-top: 50px;

}
/*-------------BOXE pequenas--- -- -- -- -- -- -- -- -- -- -- -- -- -- --*/
code
{
    margin: 15px;
    font-size: 1.4em;
}

div.overflow-x{
    overflow-x: auto;


}

div.obs{
    border: 1px solid #bbb; 
    border-radius: 5px;
    background-color: #eee;
    margin: 10px;



}

span.nao_quebra{
    white-space: nowrap;
}
div.pre{
   
    overflow-x: auto;
    border: 4px ridge #bbb; 
    background-color: #E8F7E8;
    color: #000;
    padding: 1em;
}
pre{
    font-size: 1em;
    letter-spacing: 1px;
    word-spacing: 3px;
    margin-top: 2px;
    font-family: Helvetica, sans-serif
}

ul
{
    padding-inline-start: 25px;

}
 li
 {
    margin-top: 15px;
 }

strong
{
    font-size: 1.1em;
    font-family: 'Times New Roman', Times, serif;
}

div.video>iframe
{
    position:absolute;
    top: 0%;
    left:0%;
    width: 100%;
    height: 100%;
}

p
{
    margin: 7px;
    text-indent: 3em;
}
p::first-letter{
    text-transform: uppercase;
}

a[target="_blank"]::after
{
        
    content: '\00A0\1F517';
}


div.img{
    text-align: center;
    width: 90%;
    margin: auto;
}

img
{
    max-width: 100%;
   
}
span.maiuscula{
    text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6
{
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}
h1 
{
    
    background-image: radial-gradient(circle, #7bd768, #bad5dd);
    font-size: 1.5em;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0px #0005;
    padding: 5px;
}

h2 
{
    background-image: linear-gradient(90deg, #D1D9E4 50%, #CCE8C5);
    font-size: 1.4em;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 0px #00000055;
    position: sticky;
    top: 0;

}
    

    h3, h4, h5, h6{
    font-size: 1.2em;
}

h3
{
    font-size: 1.3em; 
    border: 2px solid #00000055;   
    border-radius: 5px;
    padding: 5px;    
    box-shadow: 1px 1px 2px 0px #00000055;
    background-color: #FBF8F3;
    position: sticky;
    top: 37px;
    
}
table.tabela_basica{
    border-collapse: collapse;
    border: 2px solid #000;
}
td.td_tabela_basica{
    border: 2px solid #000;
    padding: 5px 7px 5px 7px;
}
.td_left{
    text-align: left;
}
th.th_col_tabela_basica{
    border: 2px solid #000;
    padding: 3px;
    text-align: center;
    background-color: #aaa;
    padding: 5px;

}