@charset "UTF-8";



body{
    padding: 0px;
    margin: 0px;
     font-family: Arial, Helvetica, sans-serif;
    background-image: url(pacote-imagens-cap25/back-phone.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
}
header{
    margin: auto;
    background-color: rgba(245, 222, 179, 0.781);
    width: 98vw;
    text-align: center;
    box-shadow: 2px 2px 3px 1px #00000088;
    border-radius: 5px;
    margin-bottom: 5px;
    font-family: 'Times New Roman', Times, serif;

}

main{
    background-color: rgba(188, 250, 250, 0.849);
    width: 90vw;
    margin: auto;
    
}

img{
    display: block;
    margin: auto;
}

img#tablet, img#tv, img#impressora, img#desktop{
    display: none;
}

header>h1{   
    margin: 0px;
    text-shadow: 1px 1px 2px #000000;
    color: #ffffff;

}



/*
------------------------------ ---- ----------- -------
---------- -----------------------------------------------
-----------------------------------------------------------
----------------------------------------------------------
-----------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 992px)
{

    body{
    background-image: url(pacote-imagens-cap25/back-tablet.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
    img#tablet{
        display: block;
        margin: auto;
    }
    
    img#smartphone, img#tv, img#impressora, img#desktop{
        display: none;
    }


}

@media screen and (min-width: 992px) and (max-width: 1200px){
    body{
        background-image: url(pacote-imagens-cap25/back-pc.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        }
        img#desktop{
            display: block;
            margin: auto;
        }
        
        img#smartphone, img#tv, img#impressora, img#tablet{
            display: none;
        }

}

@media screen and (min-width: 1200px){


    body{
        background-image: url(pacote-imagens-cap25/back-pc.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        }
        img#tv{
            display: block;
            margin: auto;
        }
        
        img#smartphone, img#tablet, img#impressora, img#desktop{
            display: none;
        }
 }


@media print{
    
        img#impressora{
            display: block;
            margin: auto;
        }

        body{
            border: solid;
            border-radius: 8px;
            border-color: #000000;
        
        }
        
        img#smartphone, img#tv, img#tablet, img#desktop{
        
            display: none;
        }

    

        header>h1{   
            margin: 0px;
            text-shadow: none;
            color: #000000;
        
        }


        
        main::after{
            
            content: 'Texto para impressora';
        }
}
    




