@charset "UTF-8";



*
{ /*Resetando configurações iniciais*/
    margin: 0px;
    padding: 0px;
}

html
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}



header
{
    background-color: #bbbbbb;
    position: relative;
   
    
}

header>h1
{

    text-align: center;
}

menu
{ 
    
    color: #ffffff;
    height: 70px;
}

menu>ul /* posicionamentos dos botões de menu*/
{
    position: absolute;
    transform: translateX(-50%);
    text-align: center;
    width: 600px;
    left: 50%;
    bottom: 5%;

    list-style-type: none;
   

}

menu>ul>li
{
    background-color: #555555;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    margin-left:10px ;
    margin-top: 0px;
    
}

menu>ul>li:hover
{
    box-shadow: 2px 2px 5px 0px #000000aa;
    background-color: #666666;
    cursor: pointer;   
    
   
    
}

menu>ul>li:active{
    background-color: #444444;
    color: #dddddd;
    border-radius: 5%;
    box-shadow:-2px -2px 3px 0px #000000aa;
    

}

div#menu{
    cursor: pointer;
    display: none;
}



main
{
    
    padding: 5px;
    max-width: 600px;
    width: 80vw;
    margin: auto;
    line-height: 30px;

}

p
{
    text-align: justify;
}

   



@media screen and (max-width: 550px)
{

    div#menu{
        display: block;
        width: 24px;
        height: 24px;
        margin: 10px; 
         
        
    }
    
   div#menu:hover{
        background-color: #cccccc;
        color: #000000;
        border-radius: 5%;
        box-shadow: 2px 2px 2px 0px #00000088;
     
    }

    div#menu:active{
        background-color: #aaaaaa;
        color: #000000;
        border-radius: 5%;
        box-shadow:-2px -2px 2px 0px #00000077;
        

    }

    
    
}/*fim media query max-width: 550px */

