@charset "UTF-8";



*
{ /*Resetando configurações iniciais*/
    margin: 0px;
    padding: 0px;
}

html
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

body
{

}

header
{
    background-color: #bbbbbb;
    position: relative;
    
}

header>h1
{

    text-align: center;
}

menu
{
    position: relative;


    background-color: #888888;
    color: #ffffff;
    height: 70px;
}

menu>ul
{
    position: absolute;
    bottom: 5%;
    list-style-type: none;

}

menu>ul>li
{
    background-color: #555555;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    margin-left:10px ;
    margin-top: 0px;
    
}

menu>ul>li:hover
{
    box-shadow: 5px 5px 5px 2px #000000aa;
    background-color: #666666;
   
    
}

main
{
    
    padding: 5px;
    max-width: 600px;
    width: 80vw;
    margin: auto;
    line-height: 30px;

}

span.material-symbols-outlined{
    cursor: pointer;    
}

p
{
    text-align: justify;
}

   
span.material-symbols-outlined{
    display: none;    
}
menu{
    display: block;
}


@media screen and (max-width: 550px){

    span.material-symbols-outlined{
        display: inline;    
    }
    menu{
        display: none;
    }

    span.material-symbols-outlined{
        margin: 7px;
        
        

    }

   span.material-symbols-outlined:hover{
        background-color: #cccccc;
        color: #000000;
        border-radius: 5%;
        box-shadow: 2px 2px 2px 0px #00000088;
        

    }
    span.material-symbols-outlined:active{
        background-color: #aaaaaa;
        color: #000000;
        border-radius: 5%;
        box-shadow:-2px -2px 2px 0px #00000077;
        

    }
    
}