@charset "UTF-8";

@font-face 
{
    font-family: 'star';
    src: url('../../fonts/twinkle-star/twinklestar-Regular.ttf'), format ('truetype');
    font-weight: normal;
    font-style: normal;
}
/*---------------------------------CLASS-------------------------------*/
.mark
{
    background-color: #ffff004d;
}

.video
{
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    padding-bottom: 58%;

}
/*---------------------------------ID-----------------------------------*/
capitulo
{
    background-color: rgba(240, 248, 255, 0);
    margin-top: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5em;
    
}
/*---------------------------------BOXES-------------------------------*/
body 
{ 
    text-indent: 2em;
    text-align: justify;
    font-family: Arial, Helvetica, Tahoma, sans-serif;
    background-color: rgb(216, 191, 143, 0.1);
    font-size: large;
    color: rgb(5, 3, 28);
    max-width: 1300px;
    margin: auto;
    padding: 1px;
 }

 header
 {
     max-width: 1300px;
     padding: 3%;
     background-image: radial-gradient(circle, #7bd768, #bad5dd);
     margin: auto;
     box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.342);
     border-radius: 0% 0% 2% 2%;
 }

header>h1
{
    background-color: rgba(240, 248, 255, 0);
    margin-top: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5em;
    
}

main
{
    text-align: justify;
    padding-top: 20px;
    max-width: 800px;
    margin: auto;

}

footer
{
    margin-top: 200px;
    background-color: #ffd3d3;
    padding-bottom: 100px;

}
/*-------------BOXE pequenas--- -- -- -- -- -- -- -- -- -- -- -- -- -- --*/
code
{
    margin: 15px;
    font-size: 1.4em;
}

ul
{
    padding-inline-start: 25px;

}
div.pre{
    width: 90vw;
    overflow-x: scroll;
}
/*pre
{
    font-size: 1.3em;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-bottom: -10px;
 }
*/
 li
 {
    margin-top: 15px;
 }

strong
{
    font-size: 1.1em;
    font-family: 'Times New Roman', Times, serif;
}

div.video>iframe
{
    position:absolute;
    top: 0%;
    left:0%;
    width: 100%;
    height: 100%;
}

p
{
    margin: 7px;
}

a::after
{
        
    content: '\00A0\1F517';
}

footer>iframe
{
    display: block;
    margin: auto;
    height:500px;
    width: 80%;
    margin-top: 50px;

}

img
{
    max-width: 100%;
    align-self: center;
}

h1, h2, h3, h4, h5, h6
{
    font-family: 'Times New Roman', Times, serif;
}
h1 
{
    font-family: 'Times New Roman', Times, serif;
    background-color: #7bd768;
    font-size: 1.5em;
    text-align: center;
}

h2 
{
    background-image: linear-gradient(90deg, #567eb942 50%, #7bd7685f);
    font-size: 1.3em;}
    h3, h4, h5, h6{
    font-size: 1.1em;
}

h3
{
    font-size: 1.3em;    
}